<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Modifier Personnel</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div th:insert="menu.html"></div>

    <h1>Modifier Personnel</h1>

    <form th:action="@{/personnel/update}" method="post">
      <input type="hidden" name="id" th:value="${personnel.id}" />
      <label>Nom :</label>
      <input type="text" name="nom" th:value="${personnel.nom}" required />
      <label>Prénom :</label>
      <input
        type="text"
        name="prenom"
        th:value="${personnel.prenom}"
        required
      />
      <label>Fonction :</label>
      <input
        type="text"
        name="fonction"
        th:value="${personnel.fonction}"
        required
      />
      <button type="submit">Mettre à jour</button>
    </form>

    <a href="/personnel">Annuler</a>
  </body>
</html>
