<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Gestion des Patients</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div th:include="menu"></div>
    <div style = "margin: 20px;"> 
        <h1>Liste des Patients</h1>
        <h2>Ajouter un Patient</h2>
        <form th:action="@{/patients/add}" method="post">
        <input type="text" name="nom" placeholder="Nom" required />
        <input type="text" name="prenom" placeholder="Prénom" required />
        <input
            type="text"
            name="situationMedicale"
            placeholder="Situation Médicale"
            required
        />
        <button type="submit">Ajouter</button>
        </form>

        <!-- Barre de Recherche -->
        <form method="get" action="/patients">
        <input
            type="text"
            name="search"
            placeholder="Rechercher..."
            th:value="${search}"
        />
        <button type="submit">Rechercher</button>
        <a href="/patients"><button type="button">Réinitialiser</button></a>
        </form>

        <table border="1">
        <thead>
            <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Situation Médicale</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>  
            <td th:text="${patient.code}"></td>
            <td th:text="${patient.nom}"></td>
            <td th:text="${patient.prenom}"></td>
            <td th:text="${patient.situationMedicale}"></td>
            <td>
                <a th:href="@{/patients/edit/{id}(id=${patient.id})}">Modifier</a> |
                <a
                th:href="@{/patients/delete/{id}(id=${patient.id})}"
                onclick="return confirm('Êtes-vous sûr ?')"
                >Supprimer</a
                >
            </td>
            </tr>
        </tbody>
        </table>
    </div>
  </body>
</html>
